@import url('https://fonts.googleapis.com/css?family=css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
} 
:root {
    --main-color: #1BD3C6;
    --text-main: #1b1642;
    --text-color: #363636;
    --bg-main: #e6f8f9;
}

.container {
    width: 90%;
    margin: auto;
}



/* HEADER MENU */

header {
    background: var(--bg-main);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;    

}

.brand h3{ 
   font-size: 1.3rem;
    
}

.brand span {
    color: var(--main-color);
    display: inline-block;
    margin-right: .7rem;

}
header ul, .header-menu {
    display: flex;
}

header ul:last-child {
    margin-left: 2rem;
}

header li {
    margin-right: 1.5rem;
}

header li a {
    color: var(--text-main);
    font-size: .95rem;
    font-weight:  400;
}

header ul:last-child li:last-child {
    margin-right: 5rem;
}

 .btn {
    padding: .57rem 2rem;
    border-radius: 5px;
} 

.btn-outline-text {
    border: 1px solid var(--text-main);
} 

.btn-main {
    background: var(--main-color);
    color: var(--text-main);
} 

.wrapper {
    width: 85%;
    margin:  0 auto;
}

section {
    padding: 4rem 0rem;

}

/* HERO SECTION */

.hero {
    min-height: calc(100vh - 75px);
    background: var(--bg-main)
}

.hero-grid {
    display: grid;
    grid-template-columns: auto 40%;
    grid-gap: 0rem 2rem;
    color: var(--text-main) ;
    

}

.hero-text h1, .about-text h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: var(--text-main);


}

.hero-text p, .about-text p {
    line-height: 2rem;
    padding-right: 8rem;
    margin-bottom: 3rem;
}


.hero-text .btn {
    padding: .8rem 3rem;
    font-weight: 600;
    font-size: 1.4rem;
}
 img {
    width: 100%;
    height: auto;
}



/* ABOUT SECTION */

.about {
    padding: 5rem 0rem;

}


.about-grid{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 0rem 5rem;

}

.about-text  h1 span{
     text-decoration: line-through;

}

/* TEAM SECTION */